/*--------------------
        RESET
--------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------
     TYPOGRAPHY
--------------------*/

body{
    font-family: 'Cabin', sans-serif;
    text-align: center;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: white;
}

/*--------------------
        HEADER
--------------------*/

header{
    background-color: #3161e0;
    min-height: 100px;
    padding: 30px 0;
}

.header-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1180px;
    justify-content: space-between;
    align-items: center;
    background-color: #3161e0;
    margin: auto;
}

.header-container .header-items{
    min-height: 40px;
    padding: 1%
}

.header-items.side{
    min-width: 20%;
}

.header-items.center{
    min-width: 60%;
}

.header-container .center ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

/* hero */

#hero{
    display: flex;
    flex-direction: row;
    background-color: #00008b;
    padding: 2% 0;
}

#hero div{
    background-color: #ee82ee;
    min-width: 900px;
    min-height: 300px;
    margin: auto;
}

/*--------------------
      SECTIONS
--------------------*/

section{
    padding: 1.5%;
}

.section-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1180px;
    min-height: 500px;
    margin: auto;
}

.second-section{
    flex-direction: row-reverse;
}

.section-container .w-65{
    width: 65%;
    background-color: #1e90ff;
}

.section-container .w-35{
    width: 35%;
    background-color: #ffc0cb;
}

.last-section{
    background-color: #d3d3d3;
    padding: 1.5%;
}

.last-section > div{
    background-color: #228b22;
    max-width: 1180px;
    min-height: 900px;
    margin: auto;
}

/*--------------------
        FOOTER
--------------------*/

footer{
    background-color: #23272a;
    padding: 0.5% 1.5% 1.5% 1.5%;
}

.footer-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    min-height: 700px;
    max-width: 1180px;
}

.box-1{
    width: 30%;
    background-color: #f08080;
}

.box-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}

.box-2 div{
    background-color: #20b2aa;
    width: calc(100% / 4);
}

#pie-pagina{
    background-color: #23272a;
    padding: 1.5% 0 0 0;
    margin-top: 2px;
    min-height: 100px;
}

#pie-pagina > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    max-width: 1180px;
    min-height: 70px;
    margin: auto;
}

button{
    height: 40px;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 550;
    color: #262a2d;
}

